
{% if messages %}
<div style="position: absolute; left: 50%;">
    {% for message in messages %}
        <div id="appMsg" {% if message.tags %} class="alert {{ message.tags }} alert-dismissible"{% endif %} role="alert" style="position: relative; left: -50%;margin-top: 2px;z-index:9999;">{{ message }}
        </div>
    {% endfor %}
</div>


<script>
    // Wait 10 seconds and then hide the messages
    setTimeout(() => {
        document.querySelectorAll('#appMsg').forEach(msg => {
            msg.style.display = 'none';
        });
    }, 5000); // 10 seconds = 10000 milliseconds
</script>

{% endif %}